<h1>
  form-user works!
</h1>
{{errorMsg}}
<form action="">
  <div class="form-group">
    <label for=""></label>
    <input id="name" name="name" type="text" class="form-control" placeholder="Name" [(ngModel)]="name" />
    <div *ngIf="errorMsg.name" class="invalid-feedback">{{errorMsg.name}}</div>
  </div>
  <div class="form-group">
    <label for=""></label>
    <input id="email" name="email" type="text" class="form-control" placeholder="Email" [(ngModel)]="email" />
  </div>
  <button type="submit" class="btn btn-warning" (click)="submitData()">Submit</button>
</form>